credentials:
  existingSecret: cloud-credentials

configuration:
  provider: aws
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: velero
      config:
        region: minio
        s3ForcePathStyle: "true"
        s3Url: http://minio:9000
  volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: minio

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.12.1
    volumeMounts:
      - mountPath: /target
        name: plugins

