credentials:
  existingSecret: cloud-credentials

configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: velero
      config:
        region: minio
        s3Url: http://minio.minio.svc.cluster.local:9000
  volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: minio
        s3Url: http://minio.minio.svc.cluster.local:9000

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.12.1
    volumeMounts:
      - mountPath: /target
        name: plugins

<<<<<<< Updated upstream
<<<<<<< Updated upstream
deployNodeAgent: true
=======
=======
>>>>>>> Stashed changes
credentials:
  secretContents:
    cloud: |
      [default]
      aws_access_key_id=minioadmin
      aws_secret_access_key=minioadmin

<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
