# Lightweight MinIO for local Velero backend

nameOverride: ""
fullnameOverride: ""

mode: standalone

drivesPerNode: 1
replicas: 1
pools: 1

rootUser: minioadmin
rootPassword: minioadmin

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi

service:
  type: ClusterIP
  port: "9000"

consoleService:
  type: ClusterIP
  port: "9001"

resources:
  requests:
    memory: 256Mi

# Create a default bucket for Velero
buckets:
  - name: velero
    policy: none
    purge: false
    versioning: true
