# Area-42 chart dokuwiki

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: ${CLUSTER_ISSUER_NAME}
  hosts:
    - host: dokuwiki.${DOMAIN}
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: dokuwiki-tls
      hosts:
        - dokuwiki.${DOMAIN}

persistence:
  enabled: true
  storageClass: standard
  size: 1Gi
  accessModes:
    - ReadWriteOnce

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 250m
    memory: 512Mi
